@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Primary */
    --turquoise-50: #f0fdfa;
    --turquoise-100: #cdfaf2;
    --turquoise-200: #9af5e5;
    --turquoise-300: #60e8d6;
    --turquoise-400: #2ccaba;
    --turquoise-500: #16b6a8;
    --turquoise-600: #0f928a;
    --turquoise-700: #10756f;
    --turquoise-800: #125d5a;
    --turquoise-900: #144d4a;
    --turquoise-950: #052e2e;

    /* Secondary */
    --azure-radiance-50: #eff8ff;
    --azure-radiance-100: #daefff;
    --azure-radiance-200: #bde4ff;
    --azure-radiance-300: #90d5ff;
    --azure-radiance-400: #5cbcfe;
    --azure-radiance-500: #369dfb;
    --azure-radiance-600: #2d86f1;
    --azure-radiance-700: #1868dd;
    --azure-radiance-800: #1a54b3;
    --azure-radiance-900: #1b498d;
    --azure-radiance-950: #152d56;

    /* Tertiary */
    --chateau-green-50: #f1fcf4;
    --chateau-green-100: #dff9e8;
    --chateau-green-200: #c1f1d2;
    --chateau-green-300: #90e5b0;
    --chateau-green-400: #59cf85;
    --chateau-green-500: #32b563;
    --chateau-green-600: #27a155;
    --chateau-green-700: #207541;
    --chateau-green-800: #1e5d37;
    --chateau-green-900: #1a4d2e;
    --chateau-green-950: #092a17;

    --primary: var(--turquoise-600);
    --secondary: var(--azure-radiance-600);
    --background: #fafafa;
    --foreground: #0e0e11;
    --foreground-muted: #52525b;
    --foreground-muted-extra: #71717a;
    --card: #ffffff;
    --border: #e5e7eb;
  }

  .dark {
    --background: #0e0e11;
    --foreground: #f4f4f5;
    --foreground-muted: #d4d4da;
    --foreground-muted-extra: #a1a1aa;
    --card: #18181b;
    --border: #27272a;
  }
}
